<nav id="navbar">
    <ul class="pagination">
        {% for button in pagination %}
            {% if button['status'] != false %}
                {% set status = ' ' ~ button['status'] %}
                <li class="page-item{{ status }}"><span class="page-link"> {{ button['page'] }} </span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ button['url'] }}"> {{ button['page'] }} </a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>