<select name="form[type][0]">
    <optgroup label="criteria">
        <option value="title">Title</option>
        <option value="name">Name</option>
        <option value="email">Email</option>
        <option value="content">Content</option>
        <option value="product">Product</option>
        <option value="created">Created</option>
    </optgroup>
</select>
<select name="form[operator][0]">
    <optgroup label="criteria">
        <option value="1">Contains</option>
        <option value="2">Doesn't Contain</option>
        <option value="3">Equal</option>
        <option value="4">Not Equal</option>
        <option value="5">Regular Expression</option>
    </optgroup>
</select>
<input type="text" name="form[value][0]" />