.star {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: cover;
    background-image: url('../images/star-grey.png');
    cursor: pointer;
}

.star.star-full {
    background-image: url('../images/star-full48.png');
}