.form-review {
    padding: 15px;
    overflow: hidden;
}

.rating-control {
    position: relative;
}

.star {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: cover;
    background-image: url('../images/star-grey.png');
    cursor: pointer;
}

.star.star-full {
    background-image: url('../images/star-full48.png');
}

#starShade {
    background-color: rgba(999,999,999, .6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#ajaxEllipsis {
    height: 20px;
    width: 80px;
    background-image: url('../images/ellipsis.gif');
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    top: 5px;
}